<% let { id, name, description, line, price, colors, images, categories } = producto %>
<article>
    <p class="titulocard"><%= name %></p>
    <a href="/products/<%= id %>"><img src=<%= images[0].pathName %> alt=<%= name %>/></a>
    <p class="number" style="text-align:center">$<%= price %></p>
    <ul class="color">Colores:
        <% colors.forEach(({stock, color}) => { let background = `background-color:${color.hex};color:${color.hex};border-radius:50%; border:0.1px-solid-black;;` %>
            <li><i style=<%= background %>>oo</i></li>
        <% }) %>
    </ul>
</article>