<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\editForm.css" rel="stylesheet"/>
    </head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main class="createForm">
        <% if(message !== null){ %>
        <script>
            window.onload = function() {
                alert("Producto editado con exito");
            };
        </script>
        <%}%>
            <span class="titulo">
                <h1>Editar Producto</h1>
            </span>
            <!-- <strong>Formulario Editar producto</strong> -->
            <form class="form-producto" action="/products/<%= productEdit.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%= productEdit.id %>"/>
                <span class="contenedor1">
                    <label for="name"><b>Nombre:</b></label>
                        <input class="inputForm" 
                        id="name" 
                        type="text" 
                        name="name" 
                        placeholder="Ingresar Nombre"
                        value="<%= productEdit.name %>" 
                        />
                    <% if (locals.errors && errors.name) { %>
                        <p class="errors"><%= errors.name.msg %></p>
                    <% } %>
                    <label for="description"><b>Descripcion:</b></label>
                        <textarea id="description" type="text" name="description" placeholder="Ingresar descripción..."><%= productEdit.description %></textarea>
                    </label>
                    <% if (locals.errors && errors.description) { %>
                        <p class="errors"><%= errors.description.msg %></p>
                    <% } %>
                    <div class="inputform button-wrap">
                        <label class="button" for="imageinput">Subir Imagen
                            <input
                                class="uploadfile"
                                type="file" 
                                id="imageinput" 
                                name="image" 
                                accept="image/jpeg, image/png, image/jpg"
                                placeholder="Ingresar URL de imagen..."
                                multiple
                            />
                        </label>
                        <% if (locals.errors && errors.image) { %>
                            <p class="errors"><%= errors.image.msg %></p>
                        <% } %>
                    </div>
                    <span id="imageRender">
                        <% productEdit.images?.forEach(({id, pathName}) => { %>
                            <span class="imageHold">
                                <p><%= pathName.split('uploads')[1] %> ? KB</p>
                                <img src="<%= pathName %>" alt="<%= productEdit.name+id %>"/>
                                <input type="hidden" id="<%= id %>input" name="imageHold" value="<%= pathName %>"/>
                                <button id="deleteImageHold" class="deleteImage" value="<%= pathName %>">Borrar</button>
                            </span>
                        <% }) %>
                    </span>

                    <label for="line"><b>Linea:</b>
                        <input type="radio" id="line" name="line" value="sublimada" <% if (productEdit.line == 'sublimada') { %>
                            <%= checked="checked" %>
                            <% } %>>Sublimada
                        </input>
                        <input type="radio" id="line" name="line" value="artesanal" <% if (productEdit.line == 'artesanal') { %>
                            <%= checked="checked" %>
                            <% } %>>Artesanal
                        </input>
                    </label>
                    <% if (locals.errors && errors.line) { %>
                        <p class="errors"><%= errors.line.msg %></p>
                    <% } %>
                    
                    <label for="category"><b>Categoria:</b>
                        <select id="category" name="category">
                            <% categorias.forEach(({id,name}) => { %>
                                <option value="<%= id %>" 
                                <% if (id == productEdit.categories?.id || id == productEdit?.category ) { %> <%= "selected" %> <% } %>>
                                <%= name %></option>
                        <% }) %>
                        </select>
                        <!-- <% categorias.forEach(({id,name}) => { %>
                                <input id="category" type="radio" name="category" value="<%= id %>" 
                                <% if (id == productEdit.categories?.id || id == productEdit?.category ) { %> <%= checked="checked" %> <% } %>>
                                <%= name %></input>
                        <% }) %> -->
                    </label>
                    <label for="color"><b>Colores:</b></label>
                    <div class="container-colorinputs">
                    <!-- <% if (typeof(productEdit.colors) == 'string') { let background=`color:${productEdit.colors.hex};`%>
                        <div>
                            <input class="c0" type="color" name="color" id="color" value="<%= productEdit.colors.hex %>"/>
                            <span id="c0" style=<%= background %>><%= productEdit.colors.name %></span>
                        </div>
                    <% } else { %> -->
                    <% productEdit.colors?.forEach(({stock, color},index) =>  { let background=`color:${color.hex};`%>
                        <div>
                            <input class="c<%= index %>" type="color" name="color" id="color" value="<%= color.hex %>"/>
                            <span id="c<%= index %>" style=<%= background %>><%= color.hex %></span>
                            <label for="stock">Stock:</label>
                            <input type="number" name="stock" class="number" value="<%= stock %>" required/>
                        </div>
                    <% })} %>
                        <span id="agregar" class="button">Agregar color</span>
                    </div>
                    <% if (locals.errors && errors.color) { %>
                        <p class="errors"><%= errors.color.msg %></p>
                    <% } %>
                    <label for="price"><b>Precio:</b></label>
                    <input class="inputForm number" 
                        type="number"
                        id="price" 
                        name="price"
                        required
                        value="<%= productEdit.price %>" 
                    />
                    <% if (locals.errors && errors.price) { %>
                        <p class="errors"><%= errors.price.msg %></p>
                    <% } %>
                    <!-- <label for="stock"><b>Stock:</b></label>
                    <input class="inputForm" 
                        type="number"
                        id="stock" 
                        name="stock"
                        required
                        value="<%= productEdit.stock %>" 
                    /> -->
                    <% if (locals.errors && errors.stock) { %>
                        <p class="errors"><%= errors.stock.msg %></p>
                    <% } %>
                </span>
                <button class="button" type="submit">Editar</button>
                </form>
            </div>
        <script src="\scripts\ntc.js"></script>
        <script src="\scripts\colorValidator.js"></script>
        <script src="\scripts\productEdit.js"></script>
        <script src="\scripts\imageUpload.js"></script>
        <script src="\scripts\validacionEdicionProducto.js"></script>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>