
<% let {referencia, fecha, products, total, estado_pago} = pago %>
<% if (desktop) { %>
    <tr rowspan="<%= products.length %>" class="article">
        <td rowspan="<%= products.length %>"><%= referencia %></td>
        <td rowspan="<%= products.length %>"><%= fecha.slice(0,10)  %></td>
        <% for (let x in products) {  let { id, name, image, color,cantidad, price } = products[x] %>
            <% let background = `background-color:${color};color:${color};border-radius:50%; border:0.1px-solid-black;;` %>
            <% if (x == 0) { %>
                <td><img class="product" src="<%= image %>" alt=""/>(<%= id %>) <%= name %></td>
                <td><i style=<%= background %>>oo</i></td>
                <td><%= cantidad %></td>
                <td><%= price %></td>
                <td><b class="number">$<%= (cantidad*price).toFixed(2) %></b></td>
                <td rowspan="<%= products.length %>"><b class="number">$<%= total %></b></td>
                <td rowspan="<%= products.length %>"><i class="<%= estado_pago %>"><%= estado_pago %></i></td>
            </tr>
            <% } else { %>
            <tr class="article">
                <td><img class="product" src="<%= image %>" alt=""/>(<%= id %>) <%= name %></td>
                <td><i style=<%= background %>>oo</i></td>
                <td><%= cantidad %></td>
                <td class="number"><%= price %></td>
                <td><b class="number">$ <%= (cantidad*price).toFixed(2) %></b></td>
            </tr>
        <% } %>
    <% } %>
<% } else if (portrait){ %>
    <tr rowspan="<%= products.length %>" class="article">
        <td rowspan="<%= products.length %>"><%= referencia %></td>
        <td rowspan="<%= products.length %>"><%= fecha.slice(0,10)  %></td>
        <% for (let x in products) {  let { id, name, image, color,cantidad, price } = products[x] %>
            <% let background = `background-color:${color};color:${color};border-radius:50%; border:0.1px-solid-black;;` %>
            <% if (x == 0) { %>
                <td><img class="product" src="<%= image %>" alt=""/>(<%= id %>) <%= name %></td>
                <td><%= cantidad %></td>
                <td rowspan="<%= products.length %>"><b class="number">$<%= total %></b></td>
                <td rowspan="<%= products.length %>"><i class="<%= estado_pago %>"><%= estado_pago %></i></td>
            </tr>
            <% } else { %>
            <tr class="article">
                <td><img class="product" src="<%= image %>" alt=""/>(<%= id %>) <%= name %></td>
                <td><%= cantidad %></td>
            </tr>
        <% } %>
    <% } %>
<% } %>