<h2>Mis Datos</h2>
<section class="profile">
    <% let { id, nombre, apellido, email, calle, callenumero, provincia, imagen, codigopostal, piso, departamento } = userData %>
    <span>
        <img src=<%= imagen %> alt=<%= nombre %>/>
    </span>
    <span>
        <p>Nombre: <%= nombre %>, <%= apellido %></p>
        <p>email: <%= email %></p>
        <p>Provincia: <%= provincia %></p>
        <p>Domicilio: <%= calle %> <%= callenumero %> </p>
        <% if (piso) { %>
            <p>Piso: <%= piso %></p>
        <% } %>
        <% if (departamento) { %>
            <p>Departamento: <%= departamento %> </p>
        <% } %>
        <p>Codigo Postal: <%= codigopostal %></p>
        <a href="/users/<%= id %>/update"><button class="edit">Editar</button></a>
    </span>
    
</section>
<h2>Mis Productos</h2>

<section class="productos">
    <button class="create"><a href="/products/create">Crear Producto</a></button>
    <span class="header">
        <p>imagen</p>
        <p class="name">Nombre</p>
        <p class="category">categoria</p>
        <p class="color">Colores</p>
        <p class="price">Precio</p>
        <p class="stock">Stock</p>
        <p class="action">Accion</p>
    </span>
<% for (let i in productos) { %>
    <%- include('./card.ejs', {producto: productos[i]}) %>
<% } %>
</section>