<script src="\scripts\profilecommon.js"></script>
<h2>Mis Datos</h2>
<section class="profile">
    <% let { id, nombre, apellido, email, calle, calleNumero, provincia, imagen, codigoPostal, piso, departamento } = userData %>
    <span>
        <img class="perfil" src="<%= imagen %>" alt="<%= nombre.slice(0,1).toUpperCase()+apellido.slice(0,1).toUpperCase() %>"/>
    </span>
    <span>
        <p>Nombre: <%= nombre %>, <%= apellido %></p>
        <p>email: <%= email %></p>
        <p>Provincia: <%= provincia %></p>
        <p>Domicilio: <%= calle %> <%= calleNumero %> </p>
        <% if (piso) { %>
            <p>Piso: <%= piso %></p>
        <% } %>
        <% if (departamento) { %>
            <p>Departamento: <%= departamento %> </p>
        <% } %>
        <p>Codigo Postal: <%= codigoPostal %></p>
        <a href="/users/<%= id %>/update"><button class="edit">Editar</button></a>
        <a href="/users/<%= id %>/delete"><button class="delete">Eliminar Cuenta</button></a>
    </span>
</section>
<section class="productos">
    <% let {data, maxPage, perPage, page} = historialPagos %>
            <section class="pagination">
                <span><a class="arrow-prev1 arrow-cards"></a></span>
                <% for (let p = 1; p <= maxPage; p++) { %>
                    <span class=<%= p == page? 'currentPage' : "" %>><a id="page"><%= p %></a></span>
                <% } %>
                <span><a class="arrow-next1 arrow-cards"></a></span>
            </section>
            <span class="header">
                <b>Referencia</b>
                <b>Total</b>
                <b>Estado</b>
                <b>Creado</b>
                <b>Actualizado</b>
            </span>
            <% data.forEach(({id,total,status,created_at, updated_at}) => { %>
            <article class="rows">
                <button id="detail" class="button"><%= id %></button>
                <p class="number"><%= total %></p>
                <p class="<%= status %>"><%= status %></p>
                <span><%= created_at.toISOString().split('T')[0] %>
                    <small><%= created_at.toISOString().split('T')[1].slice(0,5) %></small>
                </span>
                <span><%= updated_at.toISOString().replace('T',' ').slice(0,10) %>
                    <small><%= updated_at.toISOString().split('T')[1].slice(0,5) %></small>
                </span>
            </article>
            <% }) %>
            <small id="paginado">pagina <b id="currentPage"><%= page %></b> de <b><%= maxPage %></b> mostrando <%= perPage %> elementos por pagina</small>
    <!-- <div class="favoritos">
        <h2>Mis Favoritos</h2>
        <section class="favoritos">
            <span class="header">
                <p>Imagen</p>
                <p>Nombre</p>
                <p>Color</p>
                <p>Precio</p>
                <p>Stock</p>
            </span>
        </section>
    </div> -->
</section>