<h2>Mis Datos</h2>
<section class="profile">
    <% let { id, nombre, apellido, email, calle, calleNumero, provincia, imagen, codigoPostal, piso, departamento } = userData %>
    <span>
        <img class="perfil" src="<%= imagen %>" alt="<%= nombre.slice(0,1).toUpperCase()+apellido.slice(0,1).toUpperCase() %>"/>
    </span>
    <span>
        <p>Nombre: <%= nombre %>, <%= apellido %></p>
        <p>email: <%= email %></p>
        <p>Provincia: <%= provincia %></p>
        <p>Domicilio: <%= calle %> <%= calleNumero %> </p>
        <% if (piso) { %>
            <p>Piso: <%= piso %></p>
        <% } %>
        <% if (departamento) { %>
            <p>Departamento: <%= departamento %> </p>
        <% } %>
        <p>Codigo Postal: <%= codigoPostal %></p>
        <a href="/users/<%= id %>/update"><button class="edit">Editar</button></a>
    </span>
    
</section>
<h2>Mis Productos</h2>

<section class="payments">
    <span>
        <button class="create"><a href="/products/create">Crear Producto</a></button>
        <button id="category" class="create">Crear Categoria</button>
    </span>
    <span class="header">
        <p>imagen</p>
        <p class="name">Nombre</p>
        <p class="category">categoria</p>
        <p class="color">Colores</p>
        <p class="price">Precio</p>
        <p class="stock">Stock</p>
        <p class="action">Accion</p>
    </span>
<% productos.forEach((producto) => { %>
    <%- include('./card.ejs', {producto}) %>
<% }) %>
</section>