<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="\css\edit-user.css" rel="stylesheet"/>

    <title>La tienda de Maria</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
<% let { id, nombre, apellido, fechanacimiento, provincia, localidad, codigopostal, calle, callenumero, piso, departamento, email,username, password, imagen } = userData %>
<% fechanacimiento = fechanacimiento.slice(0,10) %>
        <h2>Modificar Datos de Usuario</h2>   
    <article class="contenedor-form">

    <div class="contenedores">
        <div class="contenedor1">
            <form action="/users/<%= id %>/update?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="inputform">
                    <label for="nombre">Nombre/s:</label>
                    <input 
                        type="text"
                        name="nombre"
                        id="nombre"
                        placeholder="ingrese su nombre"
                        required
                        minlength="10"
                        value="<%- body.nombre? body.nombre : nombre %>"
                    />
                    <% if (locals.errors && errors.nombre) { %>
                        <p class="errors"><%= errors.nombre.msg %></p>
                    <% } %>
                </div>
                <div class="inputform">
                    <label for="apellido">Apellido/s:</label>
                    <input
                        id="apellido"
                        name="apellido"
                        type="text"
                        placeholder="Ingresar apellido"
                        required
                        value="<%= body.apellido? body.apellido : apellido %>"
                    />
                    <% if (locals.errors && errors.apellido) { %>
                        <p class="errors"><%= errors.apellido.msg %></p>
                    <% } %>
                </div>
                <div class="inputform">
                    <label for="fechanacimiento">fecha de nacimiento:</label>
                    <input 
                    type="date"
                    name="fechanacimiento"
                    id="fechanacimiento"
                    required
                    value="<%= body.fechanacimiento? body.fechanacimiento : fechanacimiento %>"
                    />
                    <% if (locals.errors && errors.fechanacimiento) { %>
                        <p class="errors"><%= errors.fechanacimiento.msg %></p>
                    <% } %>
                </div>
                <div class="inputform">
                    <label for="provincia">Provincia:</label>
                    <select id='pronvincia' name="provincia">
                        <option disabled selected value>- seleccionar -</option>
                        <% localidades.forEach((el) => { %>
                            <option value="<%= el.provincia %>" <%= body.provincia == el.provincia || provincia == el.provincia? "selected" : null %>><%= el.provincia %></option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.provincia) { %>
                        <p class="errors"><%= errors.provincia.msg %></p>
                    <% } %>
                </div>
                <div class="inputform">
                    <% localidades.forEach((el) => { %>
                        <label id="<%= el.provincia.split(" ").join("") %>" for="<%= el.provincia %>" style=<%= provincia == el.provincia? "display:block;" : "display:none;" %>>Localidad:
                        <select id="<%= el.provincia %>" name="localidad">
                            <option disabled selected value>- seleccionar -</option>
                            <% el.localidades.forEach((loc) => { %>
                                <option value="<%= loc %>" <%= body.localidad == loc || localidad == loc? "selected" : null %>><%= loc %></option>
                            <% }) %>
                        </select>
                        </label>
                    <% }) %>
                <% if (locals.errors && errors.localidades) { %>
                    <p class="errors"><%= errors.localidades.msg %></p>
                <% } %>
                </div>
            <div class="inputform">
                <label for="codigopostal">Codigo postal:</label>
                <input 
                    type="text"
                    name="codigopostal"
                    id="codigopostal"
                    placeholder="Codigo Postal"
                    required
                    minlength="10"
                    maxlength="20"
                    value="<%= codigopostal %>"
                />
                <% if (locals.errors && errors.codigopostal) { %>
                    <p class="errors"><%= errors.codigopostal.msg %></p>
                <% } %>
            </div>
        </div>
        <div class="contenedor2">
            <div class="inputform">
                <label for="street">Calle:</label>
                <input 
                    type="text"
                    name="calle"
                    id="street"
                    placeholder="calle"
                    required
                    minlength="10"
                    maxlength="20"
                    value="<%= calle %>"
                />
                <% if (locals.errors && errors.calle) { %>
                    <p class="errors"><%= errors.calle.msg %></p>
                <% } %>
            </div>
            <div class="inputform">
                <label for="callenumero">Numero:</label>
                <input 
                    type="number"
                    name="callenumero"
                    id="callenumero"
                    placeholder="Numero/Altura de calle"
                    maxlength="20"
                    value=<%= callenumero %>
                />
                <% if (locals.errors && errors.callenumero) { %>
                    <p class="errors"><%= errors.callenumero.msg %></p>
                <% } %>
            </div>
            <div class="inputform">
                <label for="buildingfloor">Piso:</label>
                <input 
                    type="text"
                    name="piso"
                    id="buildingfloor"
                    placeholder="Piso"
                    maxlength="20"
                    value="<%= piso %>"
                    />
                    <% if (locals.errors && errors.piso) { %>
                        <p class="errors"><%= errors.piso.msg %></p>
                    <% } %>
            </div>
            <div class="inputform">
                <label for="departamento">Departamento:</label>
                <input 
                    type="text"
                    name="departamento"
                    id="departamento"
                    placeholder="Departamento"
                    maxlength="20"
                    value="<%= departamento %>"
                    />
                    <% if (locals.errors && errors.departamento) { %>
                        <p class="errors"><%= errors.departamento.msg %></p>
                    <% } %>
            </div>
            <div class="inputform">
                <label for="email">Email:</label>
                <input 
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    required
                    minlength="10"
                    maxlength="20"
                    value="<%= email %>"
                    />
                    <% if (locals.errors && errors.email) { %>
                        <p class="errors"><%= errors.email.msg %></p>
                    <% } %>
            </div>
            <!-- <div class="inputform">
                <label for="username">Nombre de usuario:</label>
                <input 
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Nombre de usuario"
                    required
                    minlength="10"
                    maxlength="20"
                    value="<%= username %>"
                />
            </div> -->
            <!-- <div class="inputform">
                <label for="password">contrase単a:</label>
                <input 
                    type="password"
                    name="password"
                    id="password"
                    placeholder="contrase単a"
                    required
                    minlength="10"
                    maxlength="20"
                    value=<%= password %>
                    />
            </div>
            <div class="inputform">
                <label for="repassword">repetir contrase単a:</label>
                <input 
                    type="password"
                    name="repassword"
                    id="repassword"
                    placeholder="repetir contrase単a"
                    required
                    minlength="10"
                    maxlength="20"
                    value=<%= password %>
                />
            </div> -->
        </div>
        <div class="contenedor3">
            <img src=<%= imagen %> alt=<%= nombre %>/>
            <div class="inputform">
                <div class="inputform button-wrap">
                    <label class="button" for="imagen">Subir imagen</label>
                    <input 
                        class="uploadFile"
                        type="file"
                        name="imagen"
                        id="imagen"
                        placeholder="calle"
                    />
                    <% if (locals.errors && errors.imagen) { %>
                        <p class="errors"><%= errors.imagen.msg %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
        <input type="submit" class="button" value="Modificar"/>
        </form>
        </article>
    </div>
    <script src="\scripts\editUser.js"></script>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>