<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\detalle.css" rel="stylesheet"/>
        <title>La tienda de Maria</title>
    </head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <% let { id, name, image, price ,stock, description} = detalle; %>
        <article>
            <div class="imagenes">
                <img src="<%= image %>" alt="imagen1">
                <img src="<%= image %>" alt="imagen2">
                <img src="<%= image %>" alt="imagen3">
            </div>
    
            <img class="detalle" src="<%= image %>" alt="<%= name %>">
    
            <div class="form-detalle">
                <h2 class="tittled"><%= name %></h2>
                <h2 class="precio">$<%= price %></h3>
                <h5>stock: <%= stock %></h5>
                <input type="number" placeholder="cantidad">
                <select name="modelos">
                    <option value="">modelos</option>
                </select>
                <button>Agregar a carrito</button>
                <button>Editar</button>
            </div>
            
        </article>
        
        <div class="contenedordescription">
            <h3>Descripcion:</h3>
            <p><%= description%></p> 
        </div>
    </main>
        
            <%- include('../partials/footer.ejs') %>
</body>
</html>