<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\createForm.css" rel="stylesheet"/>
    </head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main class="createForm">
        <% if(message !== null){ %>
        <script>
            window.onload = function() {
                alert("Producto editado con exito");
            };
        </script>
        <%}%>
        <span>
            <span class="titulo">
                <h1>Editar Producto</h1>
            </span>
            <div class="contenedorForm">
                <strong>Formulario Editar producto</strong>
                <form class="form-producto" action="/products/<%= productEdit.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">


                    <label for="name">Nombre:</label>
                        <input class="inputForm" 
                        id="name" 
                        type="text" 
                        name="name" 
                        placeholder="Ingresar Nombre"
                        value="<%= productEdit.name %>" 
                        />
                    <label for="description" >Descripcion:</label>
                    <textarea id="description" type="text" name="description" placeholder="Ingresar descripción..."><%= productEdit.description %></textarea>
                    <label for="image">Imagen:
                    <input
                        type="file" 
                        id="image" 
                        name="image" 
                        placeholder="Ingresar URL de imagen..."
                        multiple
                    />
                </label>
                    <label for="line">Linea:</label>
                     <select id="line" name="line">
                     <option value="sublimada" <%= productEdit.line === "sublimada" ? "selected" : null %>>Sublimada</option>
                     <option value="artesanal" <%= productEdit.line === "artesanal" ? "selected" : null %>>Artesanal</option>
                    </select>
                    
                    <label for="category">Categoria:
                        <% for (let i in categorias) { %>
                            <label>
                                <input type="radio" name="category" value="<%= categorias[i] %>" <%= categorias[i] === productEdit.category ? "checked" : "" %>>
                                <%= categorias[i] %></input>
                            
                            </label>
                        <% } %>
                    </label>
                    
                    <label for="color">Colores:</label>
                    <select class="inputForm" id="color" name="color" multiple>
                      <option disabled selected value="-1">- seleccionar -</option>
                      <% for(let i = 0; i < colors.length; i++) { %>
                        <option value="<%= colors[i] %>" 
                          <% if (productEdit.color.includes(colors[i])) { %>
                            selected
                          <% } %>
                        >
                          <%= colors[i] %>
                        </option>
                      <% } %>
                    </select>
                    
                    
                    
                    <label for="price">Precio:</label>
                    <input class="inputForm" 
                        type="number"
                        id="price" 
                        name="price"
                        value="<%= productEdit.price %>" 
                    />
                    <label for="stock">Stock:</label>
                    <input class="inputForm" 
                        type="number"
                        id="stock" 
                        name="stock"
                        value="<%= productEdit.stock %>" 
                    />
                    <button type="submit">Editar</button>
                </form>
            </div>
        </span>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>