<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\products.css" rel="stylesheet"/>
        <link href="\css\card.css" rel="stylesheet"/>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <form class="searchbar" action="/browser" method="POST">
            <input id="inputSearchBar" type="search" name="search" placeholder="Busqueda por nombre..."/>
            <input id="botonSearchBar" type="submit"/>
        </form>
        <main>
            
            <section class="filter">
                <p>Filtros</p>
                <form action="/products/filter" method="GET">
                <label for="categoria">Categoria:
                    <select id="categoria" name="category">
                        <option disabled selected value>- seleccionar -</option>
                        <% for (let i in categorias) { %>
                            <option value=<%= categorias[i] %>><%= categorias[i] %></option>
                        <% } %>
                    </select>
                </label>
                <label for="color">Colores
                    <select id="color" name="color">
                        <option disabled selected value>- seleccionar -</option>
                        <% for (let i in colors) {  %>
                            <option value=<%= colors[i] %> style="background-color:<%= colors[i] %>"> <%= colors[i] %></option>
                        <% } %>
                    </select>
                </label>
                <label for="price">Precio menor a:
                    <span class="filter-price" id="price">
                        <label>Todos
                            <input type="radio" name="price" value="999999"/>
                        </label>
                        <label>$5.000
                            <input type="radio" name="price" value="5000"/>
                        </label>
                        <label>$10.000
                            <input type="radio" name="price" value="10000"/>
                        </label>
                        <label>$50.000
                            <input type="radio" name="price" value="50000"/>
                        </label>
                    </span>
                </label>
                <div class="botonFilter">
                    <input  type="submit" value="ENVIAR"/>
                    <input  formaction="/products" formmethod="GET" type="submit" value="Reset"/>
                </div>
            </form>
            </section>
            
            <span class="productos">
                
            <section class="cards">
                <% for (let i in productos) { %>
                    <%- include('./card.ejs', {producto: productos[i]}) %>
                <% } %>
            </section>
        </span>
        
        </main>

        <section class="pagination">
            <span><a class="arrow-prev1 arrow-cards"></a></span>
            <span><a>1</a></span>
            <span><a>2</a></span>
            <span><a>3</a></span>
            <span><a>4</a></span>
            <span><a>5</a></span>
            <span><a class="arrow-next1 arrow-cards"></a></span>
        </section>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>