<% let { id, nombre, apellido, provincia, localidad, codigoPostal, calle, calleNumero, piso, departamento, carrito } = cartDetail %>
<div class="cart-modal">
    <section class="cartdetail">
        <table>
            <tbody>
                <tr>
                    <th></th>
                    <th colspan="2">Producto</th>
                    <th>Color</th>
                    <th id="thprecio">Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            <% carrito.forEach(({quantity, stock, product, color}) => { %>
                <tr class="cartascart" id="product-<%= product.id %>-<%= color.id %>">
                    <td id="X" onclick="eliminarProducto('<%= product.id %>', '<%= color.id %>')"><i class="fa-solid fa-trash"></i></td>
                    <td ><img src="<%= product.images[0].pathName %>" alt="<%= product.name %>"/></td>
                    <td id="product"><%= product.name %></td>
                    <% let background = `background-color:${color.hex};color:${color.hex};` %>
                    <td id="tdcolors" class="tdcolors"><span><i class="colorIcon" style=<%= background %>></i><%= color.name_es %></span>stock: <%= parseInt(stock) %></td>
                    <td id="precio" class="number"><%= product.price %></td>
                    <td class="sumarRestar">
                        <button id="restar">-</button>
                        <input id="cantidad" type="number" min="1" placeholder="cantidad" name="cantidad" value="<%= quantity %>" disabled />
                        <button id="sumar">+</button> 
                    </td>
                    <td id="subtotalproduct" class="total number"><%= (product.price*quantity).toFixed(2) %></td>
                </tr>
            <% }); %>
                <tr id="totales">
                    <td id="totalesprecio" style="font-weight: bold;" colspan="4">Totales:</td>
                    <td id="tdcomodin"></td>
                    <td id="cantidadTotal" style="font-weight: bold;"><%= carrito.reduce((acum, el) => acum + Number(el.quantity), 0) %></td>
                    <td id="precioSubTotal" class="number"><b class="number"><%= carrito.reduce((acum, el) => Number(acum) + Number(el.quantity)*Number(el.product.price), 0).toFixed(2) %></b></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="cartresume">
        <h2>Total del carrito</h2>
        </br>
  
            <p><b>Destinatario:</b> <%= `${nombre} ${apellido}`%></p>
            <p><b>Provincia:</b> <%= provincia %></p>
            <p><b>Localidad:</b> <%= localidad %></p>
            <p><b>Codigo postal:</b> <%= codigoPostal %></p>
            <p><b>Calle:</b> <%= `${calle} ${calleNumero}` %></p>
       
        <span id="cartsubtotal">
            <h3>Total</h3>
            <p id="subtotalfinal" class="number"><%= carrito.reduce((acum, el) => acum + (el.cantidad*el.price), 0).toFixed(2) %></p>
        </span>
        <span id="cartenvio">
            <div id="calcularEnvio">
                <h3>¿Necesitas envío?</h3>
                <div id="labels">
                <label for="administrativo">Si
                <input type="radio" name="tipoEnvio" id="SiEnvio" value="true"/></label>
                <label for="comercial">No
                <input  type="radio" name="tipoEnvio" id="NoEnvio" value="false" checked/></label>
            </div>
            </div>
            
                <p>El método de envío se determina<br>
                posterior a la compra.<br>
                Para consultas o cotizaciones de<br>
                envío,<br>
                por favor contáctenos.</p>
              
        </span>
        <div id="finalizarcompra">
        <button onclick="prefinalizacion('<%= id %>')">Finalizar Compra</button>
       </div>

    </section>
</div>
