<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="\css\login.css" rel="stylesheet"/>
    </head>
   <body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <div class="login-modal">
            <!-- <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="profile"/> -->
            <form action="/users/login" method="POST">
                <label for="email">Usuario / E-mail</label>
                <input 
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Ingresar email"
                    required
                    minlength="4"
                    class="validacionusername"
                    value="<%= body.email? body.email : null %>"
                />
                <% if (locals.errors && errors.email) { %>
                    <p class="errors"><%= errors.email.msg %></p>
                <% } %>
                <label for="password">Contraseña</label>
                <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Ingresar contraseña"
                    required
                    minlength="6"
                    class="validacionpassword"
                    value="<%= body.password? body.password : null %>"
                />
                <% if (locals.errors && errors.password) { %>
                    <p class="errors"><%= errors.password.msg %></p>
                <% } %>
                <% if (errors.hasOwnProperty('login')) { %>
                    <p class="errors"><%= errors.login %></p>
                <% } %>
                <label for="">Recordame</label>
                <input type="checkbox" name="recordame">
                
                <button type="submit">LOGIN</button>
            </form>
            <div class="contenedorCuenta">
                <p>¿No tienes cuenta? <a href="/users/register">¡Registrate!</a></p>
                <p>¿Olvidaste la contraseña? <a href="/users/restore">¡Restablecer!</a></p>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>